In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
f=pd.read_csv('book1.csv')
print(f)

In [ ]:
f.shape

In [ ]:
# the head is not count in auto first 5 record.
f.head()

In [ ]:
# the tail is not count auto last 5 record.
f.tail()

In [ ]:
f.info()

In [ ]:
f.describe()

In [ ]:
c=f.columns

In [ ]:
print(c)

In [ ]:
f.isnull().sum()

In [ ]:
f.dropna(inplace =True)

In [ ]:
f.shape

In [ ]:
f.isnull().sum()

In [ ]:
r=f['marks']
print(r)

In [ ]:
type(r)

In [ ]:
r.mean()

In [ ]:
r2=f[['name','sub']]
print(r2)

In [ ]:
type(r2)

In [ ]:
r.fillna(r.mean,inplace=True)
r

In [ ]:
f.info()

In [ ]:
m=f['marks 1']
print(m)

In [ ]:
m.isnull().sum()

In [ ]:
m.mean()

In [ ]:
m.fillna(m.mean,inplace=True)

In [ ]:
m.isnull().sum()

In [ ]:
f.info()

In [ ]:
f.shape

In [ ]:
df3= f.append(f)
df3

In [ ]:
df3.shape

In [ ]:
df3.drop_duplicates()

In [ ]:
   #new item

In [ ]:
  #Importing Pandas Library
import pandas as pd

#Creating a Sample DataFrame
data = pd.DataFrame({
        'id': [ 101, 123, 139, 112, 133],
        'age': [ 10, 12, 13, 11, 12],
        'gender': [ 'M', 'F', 'F', 'M', 'M'],
        'group': [ 'first', 'second', 'first', 'third', 'third'],
        'math_score': [ 41.5, 43, 38, 47, 29.5]
    })

data

In [ ]:
#Adding a column using List
values = [40, 38, 33, 30,'']

data['Marks'] = values
data

In [ ]:
data['Marks_Maths'] = pd.Series([40, 38, 32.5, 27, 30],index=[1, 2, 3, 4, 5])
print(data)

In [ ]:
#Adding columns using assign()
s1 = pd.Series([40.5, 38.5, 33, 28, 31], index=[0, 1, 2, 3, 4])
s2 = pd.Series([48.5, 42, 41, 37, 43], index=[0, 1, 2, 3, 4])

data.assign(DBMS_score=s1.values, Python_score=s2.values)

In [ ]:
#Adding a column using insert()
#insert a new column in a specific position or index.
data.insert(len(data.columns), 'Cloud_score', s2.values)
print(data)

In [ ]:
data.insert(4, 'Python_score', s2.values)
print(data)

In [ ]:
#Adding duplicate columns using insert()
#The allow_duplicates parameter is set to False by default and returns a ValueError if the new column has a duplicate column name.
s3 = pd.Series([43, 34, 33.5, 29, 47], index=[0, 1, 2, 3, 4])

data.insert(5, 'Python_score', s3.values, allow_duplicates=True)
print(data)

In [ ]:
#adding empty column
data['avg_score'] = pd.NaT
data
#pd.NaT denotes missing or null values in the Pandas DataFrame.

In [ ]:
#Adding a column with a constant value 70
data['total_score'] = 70
data

In [ ]:
df = pd.read_csv('frd.csv')
df

In [ ]:
df['Net Bill'] = df['Total Bill'] *2
df

In [ ]:
# Count
g = df['Gender']
male = g.value_counts()['Male']
female = g.value_counts()['Female']
print("Male: ",g.value_counts()['Male'])
print("Female: ",g.value_counts()['Female'])

# Chart
y = np.array([male,female])
mylabels = ["Male", "Female"]
mycolors = ["Red", "Blue"]

plt.pie(y, labels = mylabels, colors = mycolors)
plt.legend(title = "Gender:",  loc='upper right') #'upper left', 'upper right', 'lower left', 'lower right' 'upper center', 'lower center', 'center left', 'center right'
plt.show()

In [ ]:
tip = df['Tip']
print("Min: ",tip.min())
print("Max: ",tip.max())

In [ ]:
print(df.loc[(df['Gender'] == 'Female')])

In [ ]:
plt.plot([1,2,3],[1,5,1])
plt.plot([1,2,3],[1,1,1])

plt.show()

In [ ]:
df=pd.read_csv('demo.csv')
df

In [ ]:
#To see first 5 rows of the dataset
df.head()
#To know the data types of the variables.
df.dtypes

In [ ]:
df['GENDER'].value_counts()

In [ ]:
#Separating independant variable and dependent variable("Species")
X = df.drop(['GENDER'], axis=1)
y = df['GENDER']
print(X.head())

In [ ]:
print(y.head())

In [ ]:
print(X.shape)

print(y.shape)

In [ ]:

# Splitting the dataset to Train and test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [ ]:
#to know the shape of the train and test dataset.
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)